body{
    font-family: "montserrat";
    text-align: center;

}

h1, h2, h3, h4, h5, h6 {
    font-family:"Montserrat";
}


p{
    font-family: "montserrat";
    font-weight: 500;
    color: gray;
} 

/* heading */

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    /* color: #fff; */

}

.section-heading {
    font: 3rem;
    line-height: 1.5;
    font-weight: 700;
}



.navbar{
    padding: 0 0 4.5rem;

}

.nav-item{

    padding: 0 18px;
}

.nav-link{
    font-family: "montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}

.container-fluid {
    padding: 7% 15%;
}

/* navigation Bar */

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.4rem;
    font-weight: bold;

}

/* title section */
#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;

}

/* download button */

.download-button{

    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 15%;
}

/* features section */

#features{
    background-color: #fff;
    position: relative;
}

.feature-title{
    font-weight: 800;
    line-height: 1.5;
}

.features-box{
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;    
}

.icon:hover{
    color: #ff4c68;
}

/* testimonial section */

#testimonials{
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}


.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-em{
    font-family: "montserrat";
    font-weight: 400;
}



/* press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;

}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}


/* pricing section */

#pricing{
    padding: 100px;
    
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.pricing-column{
    padding: 3% 2% ;
}


/* CTA section */

#cta {
    background-color: #ff4c68;
    color: #fff;

}

.cta-heading {
    font-family: "montserrat";
    font-weight: 900;
    font-size: 3.5rem ;
    line-height: 1.5;
}

/* footer section */

.social-icon{
    margin: 20px 10px;
    
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0 );
        width: 60%;
    }
    .testimonial-text{
        font-size:30px; ;
    }
    
}

@media (max-width: 720px){
    
    .testimonial-text{
        font-size:20px; ;
    }

    .cta-heading{
        font-size: 30px;
    }
}


